---
title: New Relic Cluster Monitoring for Pivotal Platform (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

**If this product is in beta, keep and edit the warning note below.**
<p class="note warning">
<strong>Warning: </strong>
The New Relic Cluster Monitoring for Pivotal Platform is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PKS production environment.
</p>

This documentation describes <a href="https://network.pivotal.io/products/new-relic-cluster-monitoring/" target="_blank">New Relic Cluster Monitoring for Pivotal Platform</a>.

New Relic Cluster Monitoring for Pivotal Platform collects kube-state-metrics from kubernetes clusters and makes it available in the Infrastructure module of your New Relic UI.


<br/>
<center>
    <img src="images/nr-black-256x256.png" alt="New Relic Cluster Monitoring for Pivotal Platform" height="150" width="150"/>
</center>


## <a id='overview'></a>Overview

The Kubernetes integration enables NRI to collect kube-state-metrics from kubernetes clusters and report to your New Relic account for dashboarding and visualization, monitoring, alerting, and analytics purposes.

If you do not wish to use Helm chart, you can still use New Relic's standard <a href="https://docs.newrelic.com/docs/integrations/kubernetes-integration/installation/kubernetes-installation-configuration" target="_blank">Kubernetes installation and configuration</a> to install NRI agent in your kubernetes cluster.


## <a id='features'></a> Key Features

* New Relic Infrastructure agent collects telemetry for the following components in your kubernetes clusters:

    * Nodes
    * Containers
    * Pods
    * Deployments
    * Services
    * Daemonsets
    * Namespaces
    * Replicasets
    * Volume information

    Additional documentation: <a href="https://docs.newrelic.com/docs/integrations/kubernetes-integration/understand-use-data/understand-use-data" target="_blank">Understand and use Kubernetes data</a>


* Pre-built dashboards in your New Relic account for viewing and analysis of Kubernetes metrics.
* Kubernetes Cluster Explorer to visualize and understand all aspects of your kubernetes clusters in one view.

<center>
    <img src="images/cluster-explorer.png" alt="New Relic Kubernetes Cluster Explorer" height="600" width="800"/>
</center>


* <a href="https://docs.newrelic.com/docs/alerts" target="_blank">New Relic Alerting subsystem</a> for proactively notifying SME's of issues that need attention.


## <a id="snapshot"></a> Product Snapshot

The following table provides version and version-support information for New Relic Cluster Monitoring for Pivotal Platform.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Product version</td>
        <td>0.13.12</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Dec 4, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>New Relic Cluster Monitoring for Pivotal Platform 0.13.12</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3.x, v2.4.x, v2.5.x, v2.6.x, and 2.7.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service versions</td>
        <td>v2.3.1+, v2.4.x, v2.5.x, v2.6.x and v2.7.x</td>
    </tr>
    <tr>
        <td>Compatible PKS versions</td>
        <td>1.3.3 up to and including 1.3.8</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, Azure, and vSphere</td>
    </tr>
</table>


## <a id='compatibility'></a> Compatibility

This product has been tested with PAS v2.4, v2.5, v2.6, and v2.7. It supports PKS v1.3.3 up to and including v1.3.8.


## <a id="reqs"></a> Requirements

New Relic Cluster Monitoring for Pivotal Platform has the following requirements:

* An active New Relic account with a Pro or Pro Trial license
* New Relic Infrastructure license


## <a id='trial'></a> Trial License

If you do not already have a New Relic account, you can obtain a <a href="http://newrelic.com/signup?funnel=pivotal-cloud-foundry&partner=Pivotal+Cloud+Foundry" target="_blank">14-day free trial license</a>.


## <a id="feedback"></a> Feedback

If you have a feature request, questions, or information about a bug, please submit an issue <a href="https://github.com/newrelic/new-relic-cluster-monitoring/issues" target="_blank">on github</a>.
