---
title: Using New Relic Cluster Monitoring for VMware Tanzu
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to use New Relic Cluster Monitoring for VMware Tanzu.

##<a id='using'></a> Using New Relic Cluster Monitoring for VMware Tanzu

New Relic Cluster Monitoring collects kube-state-metrics from kubernetes clusters, ingested by New Relic Insights, and visualizes them using the Infrastructure UI, Kubernetes Cluster Explorer, and Insights dashboards.


##<a id='ref'></a> References

* <a href="https://docs.newrelic.com/docs/infrastructure/new-relic-infrastructure/get-started/introduction-new-relic-infrastructure" target="_blank">Introduction to New Relic Infrastructure</a>

* <a href="https://docs.newrelic.com/docs/integrations/kubernetes-integration/cluster-explorer/kubernetes-cluster-explorer" target="_blank">Kubernetes Cluster Explorer</a>

* <a href="https://docs.newrelic.com/docs/query-data/nrql-new-relic-query-language/getting-started/introduction-nrql" target="_blank">Introduction to NRQL</a>

* <a href="https://docs.newrelic.com/docs/query-data/nrql-new-relic-query-language/getting-started/nrql-syntax-components-functions" target="_blank">NRQL syntax, components, functions</a>
